language: node_js
node_js: 
  - "9.3.0"

branches: 
  only:
    - master

script:
  - npm run build
  - npm run test

install: 
  - npm install -g firebase-tools

after_success: 
  - firebase deploy --token $FIREBASE_TOKEN

notifications:
  email:
    recipients:
      - hello@paulhalliday.io
    on_success: always 
    on_failure: always
